<header class="bg-blue-500 text-white shadow-sm py-4">
  <div class="container mx-auto flex justify-between items-center px-6">
    <div>
      <a routerLink="" class="text-lg font-semibold"> Ваш Додаток </a>
    </div>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a routerLink="/words" class="hover:underline">List</a>
        </li>
        <li>
          <a routerLink="/words-create" class="hover:underline">Create</a>
        </li>
        <!-- Додайте додаткові посилання тут -->
      </ul>
    </nav>
  </div>
</header>
