<div class="container mx-auto p-6" *ngIf="words$ | async as words">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Words</h1>
    <a
      routerLink="/words-create"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >Add Word</a
    >
  </div>
  <ul class="space-y-2">
    <li
      class="p-3 bg-white border rounded shadow flex justify-between items-center"
      *ngFor="let word of words"
    >
      <div>
        <h3 class="font-medium">{{ word.text }}</h3>
        <p class="text-sm text-gray-600">{{ word.meaning }}</p>
      </div>
      <div>
        <span
          class="material-symbols-outlined cursor-pointer"
          [routerLink]="['/words-edit', word.id]"
        >
          edit
        </span>
        <span
          class="material-symbols-outlined cursor-pointer ml-4"
          (click)="deleteWord(word)"
        >
          delete
        </span>
      </div>
    </li>
  </ul>
</div>
